<h1>Home page</h1>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="mt-3 mb-3">Lista posts</h1>
                <div>
                    <input type="text" class="js_search form-control" placeholder="Cerca per titolo..." >
                </div>
            </div>
        </div>
    </div>
    <div class="row js_no_post text-center d-none">
        <div class="col-12">
            <h3>Non hai inserito alcun post</h3>
        </div>
    </div>
    <div class="row js_post_table d-none">
        <!-- qui verranno mostrati gli elementi -->
    </div>
</div>


<script type="text/javascript">

  
    getPost("");

    document.querySelector(".js_search").addEventListener('keyup',searchPost);

    function searchPost(){

        let title = this.value;

        //controlli

        getPost(title);

    }

    function getPost(title){

        //controlli

        //axios.get('/api/post/get?title='+title).then( res => {
        axios.get('/api/post/get',{
            params:{
                title: title
            }
        }).then(res => {

            console.log('risultato ok', res);

            if (res.data.length == 0) {

                document.querySelector('.js_no_post').classList.remove('d-none');
                document.querySelector('.js_post_table').classList.add('d-none');

            } else {

                document.querySelector('.js_post_table').classList.remove('d-none');
                document.querySelector('.js_no_post').classList.add('d-none');

                document.querySelector('.js_post_table').innerHTML = '';

                res.data.forEach(post => {

                    console.log('post', post);

                    document.querySelector('.js_post_table').innerHTML +=
                        `
                                                        <div class="col-12 col-md-4 p-2">
                                    <div class="card post h-100">
                                        <a href="/Home/Details/${post.id}">
                                          <img src="${post.image}" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            <h5 class="card-title">${post.title}</h5>
                                            <p class="card-text">${post.description}</p>
                                          </div>
                                        </a>
                                    </div>
                                </div>
                                `;
                });
            }
        }).catch(err => {
            console.log("error",err);

            document.querySelector('.js_post_table').classList.remove('d-none');
            document.querySelector('.js_no_post').classList.add('d-none');

            document.querySelector('.js_post_table').innerHTML = '';

            document.querySelector('.js_post_table').innerHTML = "<div class'alert alert-danger'> "+ err.message+ "</div>"; 
        });    
    }

</script>